@model IEnumerable<Principal.Models.Participant>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.EditorFor(modelItem => item.ParticipantID)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Province)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.ActionLink("Save", "save", new { /* id=item.PrimaryKey */ }) |
       
            </td>
        </tr>
}
    </tbody>
</table>
